.purple0-background {
	background-color: #D7BDE2;
}

.purple1-background {
	background-color: #C39BD3;
}

.red0-background {
 background-color: #F1948A;
}
.red1-background {
	background-color: #EC7063;
}

.blue0-background {
 background-color: #85C1E9;
}
.blue1-background {
	background-color: #5DADE2;
}

.green0-background {
 background-color: #82E0AA;
}
.green1-background {
	background-color: #58D68D;
}

.yellow0-background {
 background-color: #F7DC6F;
}
.yellow1-background {
	background-color: #F4D03F;
}

.orange0-background {
 background-color: #F8C471;
}
.orange1-background {
	background-color: #F5B041;
}

.brown0-background {
 background-color: #D59477;
}
.brown1-background {
	background-color: #B6775B;
}
